doctype html
html
	head
		block title
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		link(rel="stylesheet"
			href="https://fonts.googleapis.com/css?family=Cormorant+Garamond")
		link(rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons")
		link(rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.red-amber.min.css")
		link(rel="stylesheet" type="text/css" href="/styles.css")

	body
		block content
		script(defer src="/material.js")
		script(src="/bundle.js" type="text/javascript")