a {
    text-decoration: none;
    color: black;
}

/* 
 * HEADER
 */

#top-bar {
    font-family: "Cormorant Garamond", serif;
    color: black;
    font-size: 50px;
    position: relative;
    border-bottom: 10px solid #ff1f37;
    padding-bottom: 5px;
    margin-top: 5px;
}
#logo-img {
    height: 50px;
    vertical-align: text-bottom;
    margin-right: 20px;
}
#name-and-logo {
    padding: 5px;
}
.header-button {
    float: right;
    font-size: 30px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    cursor: pointer;
}
.header-dialog {
    padding: 20px;
    margin-right: 30px;
    border: 1px solid black;
    font-size: 18px;
    position: absolute;
    right: 0;
    z-index: 10;
    background-color: white;
}
.header-dialog-close {
    font-size: 2em;
    position: absolute;
    right: 5px;
    top: 5px;
    cursor: pointer;
    z-index: 15;
}

/*
 * BOOK DISPLAY
 */

.cards-container {
    margin: auto;
    text-align: center;
}
.add-book-search > div {
    display: inline-block;
}
.book-card {
    width: 250px;
    margin: 30px;
    display: inline-block;
}
.book-title {
    height: 250px;
}
